* {
margin: 0;
padding: 0;
box-sizing: border-box;	
	
}


html {
	font-size: 62.5%;
}

body {

background-color: black;	
	
}

.title {
	color: white;
	text-align: center;
	margin: 30px auto;
	
}

.nav {
	display: flex;
	justify-content: center;
	margin: 50px auto;
	
}

.nav li {
	width: 25%;
	text-align: center;
	font-size: 2.2rem;
}


img {
	
	margin: auto;
	height: 50vh;
	
	
}


